#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld/mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mariadb/mariadb.log
pid-file=/run/mariadb/mariadb.pid
character-set-server=utf8

server_id=1 # 고유한 식별자입니다.
log-bin=mysql-bin # bin 로그의 베이스 파일 이름입니다.
bind-address=0.0.0.0 # 모든 IPv4 주소에서 요청을 받습니다.
event_scheduler=ON # 이벤트 스케줄러를 사용합니다.
concurrent_insert=ALWAYS # MyISAM 테이블에 대해 hole이 있어도 동시 insert를 허용합니다.
lower_case_table_names=1 # 테이블 이름 대소문자를 구분하지 않습니다.
rpl_semi_sync_slave_enabled=ON # Slave에서 semi-sync replication을 켭니다.
rpl_semi_sync_master_enabled=ON # Master에서 semi-sync replication을 켭니다.
log_bin_trust_function_creators=1 # SUPER가 아닌 사용자도 함수를 만들 수 있게 합니다.

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.5]
